/* Custom checkbox */
    
.checkbox {
    display: block;
    margin-top: 20px;
    cursor: pointer;
  }
  .checkbox input[type="checkbox"] {
    display: none;
  }
  
  .checkbox input[type="checkbox"]:checked + .custom-checkbox::before,
  .checkbox input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
  }
  .checkbox .custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #0000a0;
    vertical-align: middle;
    margin-top: -2px;
    position: relative;
  }
  .checkbox .custom-checkbox::before,
  .checkbox .custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    background: #0000a0;
    height: 3px;
    left: 4px;
    bottom: 2px;
    transform-origin: 1px 1px;
  }
  .checkbox .custom-checkbox::before {
    transform: rotate(-45deg);
    width: 14px;
  }
  .checkbox .custom-checkbox::after {
    transform: rotate(-135deg);
    width: 8px;
  }