 /* Forms */
  
 .card-content, .details {
    padding-left: 0.1px;
    margin-left: 0.1px;
  }
  
  .content-border {
    border-bottom: 1px rgb(56, 56, 126) solid;
    width: 100%;
  }
  
  .payment-method-radio {
    padding: 10px 0;
  }
  
  .special-font {
    font-size: 17px;
  }
  
  .details-hide {
    padding: 20px 0;
  }
  
  
  .card-order {
    background: #00075A;
    color: #fff;
    margin: 15px 0;
    max-height: 95vh;
    border-radius: 10px;
  }
  
  .card-select-pay-method {
    margin: 15px 0 0;
    border-radius: 10px;
  }
  
 
  .circled-mark {
    border: 1px solid #0000a0;
    border-radius: 50%;
    padding: 0 5px;
  }

  .content-border-select:not(:last-child) {
    border-bottom: 1px #ccc solid;
    width: 100%;
  }
  
  .invoice-border-select {
    border-bottom: 1px #ccc solid;
   
  }

  .invoice-border-select-top {
    border-top: 1px #ccc solid;
    padding-top: 20px;
  }
  
  .invoice-condition {
    margin-left: 30px;
  }
  
  .lock {
    width: 3%;
  }
  
  /* .masterpass-btn {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    background-image: url(assets/masterpass-btn.svg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
  } */

  .form-group-masterpass {
    text-align: center;
  }
  
  .encrypted {
    text-align: center;
    font-size: 12px;
  }
  
  
  input[type=text], input[type=number], input[type=date]{
    border-radius:  2px;
    margin: 7px 0;
  }
  

  @media screen and (min-width: 500px) {
    input[type="text"], input[type="number"], input[type="date"] {
      max-width: 359px;
    }
    
    .field-full, .title-center {
      margin: auto 100px;
    }
    .field-half {
      margin: auto 85px;
    }

    .invoice-border-select {
      border-bottom: 1px #ccc solid;
      margin-left: 35px;
    }
  
    .invoice-border-select-top {
      border-top: 1px #ccc solid;
      margin-left: 35px;
    }

    .btn {
      margin: auto 160px;
    }

    
  }  


  @media only screen and (min-width: 992px) {
    .card-select-pay-method {
      margin-left: 15%;

    }

    .card-order {
      max-height: 75vh;
    }
    
    footer {
       
        left: 15%;

    }

}

  
 
  