.img-swish {
    width: 25%;
  }

  .img-paypal {
    width: 25%;
  }

  .img-invoice {
    width: 30%;
  }

  .img-masterpass {
    width: 30%;
  }

  .img-masterpass-btn {
    width: 50%;
   
  }
  
  .img-card, .img-swish, .img-paypal, .img-invoice, .img-masterpass  {
    float: right;

  }

  .inner-content {
    border: 1px solid #00075A;
    height: 5px; 
    cursor: pointer;     
    width: 10px;
    padding: 0 7px 1px;
    border-radius: 50%;
}

.inner-content:hover {
  background-color: #DCEDFF;
}

.circle {
  color: #00075A;
  font-size: 20px;
  margin-left: -15px;
}

  @media screen and (min-width: 500px) {
    .img-swish {
      width: 15%;
    }
  
    .img-paypal {
      width: 15%;
    }
  
    .img-invoice {
      width: 15%;
    }
  
    .img-masterpass {
      width: 20%;
    }
  
    .img-masterpass-btn {
      width: 30%;
     
    }
    
  } 