.img-swish {
    width: 25%;
  }

  .img-paypal {
    width: 25%;
  }

  .img-invoice {
    width: 30%;
  }

  .img-masterpass {
    width: 30%;
  }

  .img-masterpass-btn {
    width: 50%;
   
  }
  
  .img-card, .img-swish, .img-paypal, .img-invoice, .img-masterpass  {
    float: right;

  }

  @media screen and (min-width: 500px) {
    .img-swish {
      width: 15%;
    }
  
    .img-paypal {
      width: 15%;
    }
  
    .img-invoice {
      width: 15%;
    }
  
    .img-masterpass {
      width: 20%;
    }
  
    .img-masterpass-btn {
      width: 30%;
     
    }
    
  } 