
body {
    font-size: 16px;
    background: #F4F2F1;
    margin: 0;
    padding: 0;
    font-family: 'Nordea Sans Small Web Regular', Fallback, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  
a {
    text-decoration: underline;
}

h5 {
    font-weight: bold;
}

h6 {
    font-weight: 500;
}

label {
    margin: 0;
    padding: 0;
}
  
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type="button"], input[type="button"]:hover,
input[type="button"]:focus {
    -webkit-appearance: none;
    appearance: none;
    border:none;
    -webkit-border: none;
    -moz-border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.see-details, .hide-details {
    position: relative;
    top: 15px;
}
  

footer {
    font-size: 12px;
    margin-left: 8px;
    text-align: justify;
    text-justify: inter-word;

}
